@mixin breakpoint($point) {
    @if $point == large {
        @media (min-width: 1200px) {
            @content;
        }
    }

    @else if $point == medium {
        @media (max-width: 1199px) {
            @content;
        }
    }

    @else if $point == small {
        @media (max-width: 991px) {
            @content;
        }
    }

    @else if $point == extra-small {
        @media (max-width: 767px) {
            @content;
        }
    }

    @else if $point == small-tablet-portrait {
        @media (max-width: 600px) {
            @content;
        }
    }

    @else if $point == mobile-landscape {
        @media (max-width: 480px) {
            @content;
        }
    }

    @else if $point == mobile {
        @media (max-width: 380px) {
            @content;
        }
    }

    @else if $point == narrowphone {
        @media (max-width: 320px) {
            @content;
        }
    }
}