/*.footer {
  padding-top: 45px;
  padding-bottom: 40px;
  background: #f0f0f0;
!*  min-width: 100%;
  max-width: 1200px;*!
  margin-left: auto;
  margin-right: auto;
  clear: both;
  box-sizing: border-box;
}

.content-wrap {
  margin-right: auto;
  margin-left: auto;
  width: 100%;
}

.footer .content-wrap {
  max-width: 900px;
}

.privacy {
  float: left;

  a{
    color: black;
  }
}

.privacy li + li {
  padding-left: 22px;
}

.follow-span {
  padding-right: 15px;
}

.social-icon {
  display: inline-block;
  float: right;
}

.icon li + li {
  padding-left: 10px;
}

.icon {
  display: inline-block;
}*/

.footer {
  padding: 35px 0;
  background-color: $background-color;

  ul li a {
    color: black;
  }

  .privacy {
    float: left;
    padding: 0;
    li + li {
      margin-left: 16px;
    }

  }

  .social-icon {
    .description-icon{
      padding-right: 15px;
    }
    float: right;
    & + * {
      margin-right: 19px;
    }
    ul {
      display: inline-block;
      li + li {
        margin-left: 15px;
      }
    }
  }
}

@include breakpoint("extra-small") {
  .footer {
    .privacy {
      margin-left: 15px;
    }
    .social-icon {
      margin-right: 15px;
    }
  }
}

@include breakpoint("mobile-landscape") {
  .footer {
    text-align: center;
    .privacy {
      float: none;
      display: block;
      margin: 25px auto 0;
    }
    .social-icon {
      float: none;
      display: block;
      margin: 0;
    }
  }
}