.main-header {
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
  padding-top: 70px;
  padding-bottom: 25px;


  @include breakpoint("large"){
    max-width: 1065px;
    margin-bottom: 50px;
  }

  @include breakpoint("medium"){
    max-width: 960px;
    padding-right: 20px;
    padding-left: 20px;
  }

  @include breakpoint("extra-small"){
    max-width: 720px;
    padding-right: 15px;
    padding-left: 15px;
  }
  @include breakpoint("small-tablet-portrait"){
    max-width: 540px;
    padding-right: 15px;
    padding-left: 15px;
  }
}

.main-header__logo {
  font-family: 'Inconsolata', monospace;
  color:black;
  letter-spacing: 5.1px;
  font-size: 30px;
  float: left;
  text-align: center;

  :visited{
    color:black;
  }
  :active{
    color: red;
  }

}



