.post {
  margin-top: 100px;
  margin-bottom: 100px;

  &.post--special-margin-top{
    margin-top: 135px;
    @include breakpoint("small-tablet-portrait"){
      margin-top: 65px;
    }
  }

  &.post--special-margin-bottom{
    margin-bottom: 0px;
  }

  .post__image-wrap {
    width: 100%;
    padding-top: 67%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }

  .post__link {
    display: block;
    margin-top: 30px;
    margin-bottom: 22px;
    letter-spacing: -1.2px;
  }

  .post__title {
    margin-top: 22px;
    margin-bottom: 33px;
    letter-spacing: 1.2px;
  }

  .post__content{
    margin-top: 33px;
    letter-spacing: 0.7px;
    line-height: 1.6;
  }

  /*.post__main-content{
    margin-top: 33px;
    letter-spacing: 0.7px;
    line-height: 1.75;
  }

  .post__main-link-top {
    display: block;
    margin-top: 30px;
    margin-bottom: 22px;
    letter-spacing: -1.2px;
  }
  .post__main-link-bottom {
    display: block;
    margin-top: 42px;
    letter-spacing: -1.2px;
  }

  .main-post{
    margin-top: 100px;
    margin-bottom: -4px;
  }*/
}