.short-posts{

  h2 {
    white-space: nowrap;
    overflow: hidden;
    max-width: 420px;
    text-overflow: ellipsis;
  }
  p {
    overflow: hidden;
    max-width: 420px;
    height: 60px;
    text-overflow: ellipsis;
  }
}