/*.sign-up {
  clear: both;
  margin: 0 auto;
  margin-top: 120px;
  text-align: center;
  min-width: 100%;
  max-width: 1200px;
  max-height: 290px;
  height: 100%;
  background-color: #efefef;
  padding-top: 63px;
  padding-bottom: 75px;
  margin-bottom: -25px;
  box-sizing: border-box;
  !*передалать !*!

  .title-sign-up {
    padding-bottom: 71px;
  }

  .form-letter {
    outline: none;
    position: relative;
    font-size: 0;

  }

  input[type="text"] {
    outline: none;
    width: 100%;
    max-width: 395px;
    height: 36px;
    overflow: hidden;
    border: 1px solid;
    border-top: none;
    border-left: none;
    border-right: none;
    background-color: $background-color;
  }

  input[type="text"]::placeholder {
    vertical-align: bottom;
  }

  &[type="text"], &[type="email"], &[type="tel"] {
    width: 100%;
    font-family: "PlayfairDisplay", serif;;
    color: black;
    word-spacing: -0.5px;
    &::placeholder {
      transition: opacity 2s;
    }
    &:focus{
      &::placeholder {
        opacity: 0;
      }
      outline: none;
    }
  }

  .button-send {
    bottom: 0;
    position: absolute;
    outline: none;
    border-bottom: 1px solid;
    border-right: none;
    border-left: none;
    border-top: none;
    width: 32px;
    height: 40px;
    text-indent: -9999px;
    background: transparent url("/images/arrow.png") no-repeat center;
  }
}*/



.sign-up {
  margin-top: 110px;
  padding-top: 70px;
  padding-right: 15px;
  padding-bottom: 40px;
  padding-left: 15px;
  background-color: #f0f0f0;
  h2 {
    text-align: center;
    font-weight: lighter;
    /*letter-spacing: 0.3px;
    word-spacing: 1.9px;*/
    letter-spacing: 1.8px;
    word-spacing: 1.8px;
    color: black;
  }
  .form-letter{
    margin: auto;
    margin-top: 72px;
  }

  @include breakpoint("small-tablet-portrait"){
    margin-top: 65px;
  }
}

.form-letter{
  position: relative;
  max-width: 408px;
  input{
    padding-top: 11px;
    //padding-right: 50px;
    padding-bottom: 11px;
    padding-left: 3px;
    border: none;
    border-radius: 0;
    background: none;
    font-size: 14px;

    &[type="text"], &[type="email"], &[type="tel"] {
      width: 100%;
      border-bottom: 1px solid #333333;
      font-family: $PlayFairFont;
      color: #333333;
      word-spacing: -0.5px;
      &::placeholder {
        transition: opacity 2s;
      }
      &:focus{
        /*&::placeholder {
          opacity: 0;
        }*/
        outline: none;
      }
    }

    &[type="submit"], &[type="button"] {
      position: absolute;
      top:0;
      right: 0;
      width: 32px;
      padding-right: 3px;
      background-color: #f0f0f0;
      background-image: url(/images/arrow.svg);
      background-position: 50%;
      background-size: contain;
      background-repeat: no-repeat;
      text-indent: -9999px;
     /* &:hover{
        cursor: pointer;

      }*/
    }
  }
}
