.slider {
  //max-width: 1060px;
  //width: 100%;
/*  @include breakpoint("large"){
    max-width: 1060px;
  }

  @include breakpoint("medium"){
    max-width: 960px;
    padding-right: 20px;
    padding-left: 20px;
  }

  @include breakpoint("extra-small"){
    max-width: 720px;
    padding-right: 15px;
    padding-left: 15px;
  }
  @include breakpoint("small-tablet-portrait"){
    max-width: 540px;
    padding-right: 15px;
    padding-left: 15px;
  }*/
}

.slide {
  outline: none;
}

.slide-content {
  padding-top: 50%;
  width: 100%;
  max-width: 1060px;
  margin-left: auto;
  margin-right: auto;
 /* margin-bottom: 45px;
  margin-top: 14px;*/
 /* margin-top:-35px;
  margin-bottom: -102px;*/
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;



}

/*
.slick-prev:before, .slick-next:before {
  color: #000;
}*/
