@import "variables";
@import "fonts";
@import "reset";
@import "typography";
@import "util";

a{
  color: $link-color;

  &:hover{
    color: $link-color;
  }
 /* &:visited{
    color: $link-color;
  }*/
}

h2,p{
  color: $main-color;
}





//base styles, and base classes like wrappers, containers or clearfix...


