/*.main-wrap{
  display: table;
}*/

.content-wrap{
  height: 100%;
}

/*.footer{
  display: table-row;
  height: 1px;
}*/

.container{
  width: 100%;
  margin: 0 auto;
  padding-right: 30px;
  padding-left: 30px;
  box-sizing: border-box;

  @include breakpoint("large"){
    max-width: 960px;
  }

  @include breakpoint("medium"){
    max-width: 960px;
  }

  @include breakpoint("extra-small"){
    max-width: 720px;
  }
  @include breakpoint("small-tablet-portrait"){
    max-width: 540px;
    padding-right: 15px;
    padding-left: 15px;
  }
}


.container-fluid{
  width: 100%;
  margin: 0 auto;
  padding-right: 30px;
  padding-left: 30px;
  box-sizing: border-box;

  @include breakpoint("large"){
    max-width: 1140px;
  }
  @include breakpoint("small-tablet-portrait"){
    padding-right: 15px;
    padding-left: 15px;
  }
}

.row{
  margin-right: -30px;
  margin-left: -30px;
  font-size: 0;

  @include breakpoint("small-tablet-portrait"){
    margin-right: 5px;
    margin-left: 5px;
  }
}


.col-half{
  display: inline-block;
  width: 50%;
  padding-right: 30px;
  padding-left: 30px;
  box-sizing: border-box;

  @include breakpoint("small-tablet-portrait"){
    width: 100%;
    padding-right: 10px;
    padding-left: 10px;
  }
}

.clearfix::before,
.clearfix::after {
  content: "";
  display: block;
  clear: both;
}
